# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled Files
yinsh

# Other
*.pyc
trash.py
env
log.txt
input.txt
inputGame.txt
*.log
testBench/lastgame.txt
testBench/yinsh_bots-master/
learning/games/
yinsh2
yinsh3
yinsh4
yinsh5
